<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Review Details</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 
  <ion-item>
    <ion-label position="floating">Movie Title</ion-label>
    <ion-input [(ngModel)]="idea.name"></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-label position="floating">Review</ion-label>
    <ion-textarea [(ngModel)]="idea.notes" rows="6"></ion-textarea>
  </ion-item>
</ion-content>
 
<ion-footer *ngIf="!idea.id">
  <ion-toolbar color="success">
    <ion-button expand="full" fill="clear" color="light" (click)="addIdea()" [routerLink]="['/idealist/']">
      <ion-icon name="add-sharp" slot="start"></ion-icon>
      Add A Review
    </ion-button>
  </ion-toolbar>
</ion-footer>
 
<ion-footer *ngIf="idea.id">
  <ion-row no-padding text-center>
    <ion-col size="6">
      <ion-button expand="block" fill="outline" color="danger" (click)="deleteIdea()">
        <ion-icon name="trash" slot="start"></ion-icon>
        Delete
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" fill="solid" color="success" (click)="updateIdea()">
        <ion-icon name="save" slot="start"></ion-icon>
        Update
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>